.contact-form-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 70px;
}
.form-item {
  text-align: left;
  display: block;
  margin-bottom: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}
.row-left {
  max-width: 450px;
  overflow: hidden;
}
.input {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  outline-style: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  margin-bottom: 16px;
  width: 480px;
  /* border: 0;
  border-bottom-width: thin;
  border-bottom-style: groove;
  border-bottom-color: #bdbdbd; */
}
.form-message {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  text-align: left;
  overflow: hidden;
  max-width: 480px;
}
textarea {
  resize: none;
  outline-style: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  /* border: 0;
  border-bottom-width: thin;
  border-bottom-style: groove;
  border-bottom-color: #bdbdbd; */
  /* margin-bottom: 16px; */
  width: 480px;
}
textarea:focus {
  color: #8891df;
  /* background: rgb(4, 4, 43); */
}
.submit {
  /* margin: auto;
  max-width: 170px;
  height: 42px;
  background: #ec7979;
  border: 1px solid #ffffff; */
}
.submit-button {
  background-color: #ec7979;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #8891df;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
