.footer {
  background: #000000;
  /* height: 100px; */
  margin: auto;
}
.icons {
  padding-top: 30px;
  text-align: center;
  color: aliceblue;
  font-size: 23px;

  margin: 0 auto;
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  margin-top: 18px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);

  text-align: center;
  padding-bottom: 15px;
}
.fab:hover {
  transform: scale(1.2);
  color: #8891df;
  cursor: pointer;
}
.fas:hover {
  transform: scale(1.2);
  color: #8891df;
  cursor: pointer;
}
