.works {
  &-slider {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0;
  }
  &-item {
    position: relative;
    // border: 1px solid white;
  }
  &-item img {
    padding: 0 0 0 0;
    width: 99%;
    height: 99%;
  }
  &__block {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0 0 0 0;
    width: 99%;
    height: 99%;
    background-color: #d33f3f;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s ease-out;
    &:hover {
      opacity: 0.8;
    }
  }
  &__link {
    text-decoration: none;
    :hover {
      color: white;
    }
  }
  &__title {
    color: white;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__name {
    color: white;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
  }
  &:hover {
    cursor: pointer;
  }
}
