.header {
  margin-bottom: 25px;
}
.title-upper {
  text-transform: uppercase;
  font-size: 36px;
  color: #212121;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
  text-align: center;
}
.line1::after {
  content: "";
  margin: auto;
  width: 64px;
  border: 1px solid #d98943;
  margin-top: 34px;
  margin-bottom: 30px;
  display: block;
}
