.mainzero {
  /* height: 100vh; */
  margin: auto;
  /* width: 100vw; */
  background-image: url(/img/bg/background-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.mainzero::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.modern {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}
.leftside {
  margin-top: 100px;
  /* margin-left: 100px; */
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  text-align: left;
  margin-bottom: 32px;
}
.modern-text {
  max-width: 550px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: left;
  margin-bottom: 39px;
}
.line3::after {
  content: "";
  /* margin: auto; */
  width: 64px;
  border: 1px solid #ffffff;
  margin-top: 34px;
  margin-bottom: 30px;
  display: block;
}
.after-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  margin-bottom: 39px;
}
.download {
  max-width: 135px;
  height: 42px;
}
.button-download {
  border: 1px solid #ffffff;
  transition: 0.5s all ease;
}
.button-download:hover {
  cursor: pointer;
  background: #8891df;
  border: 1px solid #8891df;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s all ease;
}
.rightside {
  margin-top: 111px;
  margin-bottom: 120px;
  max-width: 370px;
  border-radius: 8px;
  background: #ffffff;
  overflow: hidden;
}
.info-title {
  padding-top: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  margin-bottom: 40px;
}
.free {
  color: #ec7979;
  transition: 0.5s all ease;
}
.free:hover {
  transform: scale(1.1);
  cursor: pointer;
  color: #8891df;
  transition: 0.5s all ease;
}
.form {
  /* padding-top: 10px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #333333; */
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: stretch; */
  /* align-content: space-between; */
  /* justify-content: space-between; */
}
.form-container {
  padding: 0px 59px 20px 59px;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
}
.inputs {
  /* padding-top: 44px;
  /* padding-left: 60px; */
  margin-bottom: 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
  text-align: left;
}
.form-input {
  outline-style: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  margin-bottom: 16px;
  width: 250px;
}
input:focus {
  color: #8891df;
  /* background: rgb(4, 4, 43); */
}
.get-started {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  background: #ec7979;
  height: 55px;
  border: hidden;
  border-radius: 0px 0px 8px 8px;
  /* border-color: #ec7979; */
  /* border-radius: 8px; */
  width: 370px;
  padding-top: 0px;
  transition: 0.5s all ease;
}
.get-started:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: #8891df;
  border-bottom: 1px dashed #8891df;
  border-left: 1px dashed #8891df;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s all ease;
}
.form-content-item {
  text-align: left;
  display: block;
  margin-bottom: 16px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}
